html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.form {
  display: flex;
}

input[type='text'] {
  border: 0.2rem solid blue;
  border-radius: 0.3rem;
  flex-grow: 1;
  margin-right: 0;
  outline: none;
}

input[type='text'],
button[type='submit'] {
  color: green;
  font-size: 1.3rem;
  height: 2em;
  padding-left: 1rem;
  padding-right: 1rem;
}

input[type='text']:hover,
button[type='submit']:hover {
  color: red;
}

button[type='submit'] {
  margin-left: 0;
}
