html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.form {
  display: flex;
}

input[type='text'] {
  flex-grow: 1;
  margin-right: 0;
}

input[type='text'],
button[type='submit'] {
  color: green;
  font-size: 1.2rem;
  height: 2em;
  padding: 0 1rem;
}

input[type='text']:hover,
button[type='submit']:hover {
  color: red;
}
