:root {
  --before-size: calc(var(--japan-width) / 2.5);
  --japan-height: calc(var(--japan-width) / 1.48);
  --japan-width: 23vw;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.japan {
  border: calc(var(--japan-width) / 152) solid lightgrey;
  height: var(--japan-height);
  position: relative;
  width: var(--japan-width);
}

.japan::before {
  background: red;
  border-radius: 50%;
  content: '';
  height: var(--before-size);
  left: calc(var(--japan-width) / 2 - var(--before-size) / 1.98);
  position: absolute;
  top: calc(var(--japan-height) / 2 - var(--before-size) / 1.96);
  width: var(--before-size);
}
