:root {
  --japan-width: 23vw;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.japan {
  border: calc(var(--japan-width) / 152) solid #ccc;
  height: calc(var(--japan-width) / 1.48);
  position: relative;
  width: var(--japan-width);
}

.japan::before {
  background: #bc002d;
  border-radius: 50%;
  bottom: 0;
  content: '';
  height: calc(var(--japan-width) / 2.5);
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(var(--japan-width) / 2.5);
}
