html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
}

.img {
  border: 1px solid grey;
  float: left;
  margin-bottom: .6rem;
  margin-right: .6rem;
  width: 49.7rem;
}

@media print {

  .img {
    float: none;
    margin-bottom: 0;
    margin-right: 0;
    width: 50rem;
  }

}
