html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.table {
  background: linear-gradient(to right, #6e0000, antiquewhite);
  border: .4rem solid black;
  border-collapse: collapse;
}

.thead-tr {
  background: rgba(110, 0, 0, .4);
  color: #ffe369;
}

.th {
  padding: 1rem;
}

.td {
  text-align: center;
}

.td:first-child {
  color: white;
  font-weight: bold;
}

.tr:nth-child(even) .td:first-child {
  background: rgba(143, 148, 251, .1);
}

.td ~ .td {
  background: antiquewhite;
  color: midnightblue;
  padding: .5rem 5rem;
}
