html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.superheroes-stats-table {
  background: linear-gradient(to right, #6e0000, antiquewhite);
  border: .4rem solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.superheroes-stats-table__thead-tr {
  background: rgba(110, 0, 0, .4);
  color: #ffe369;
}

.superheroes-stats-table__th {
  padding: 1rem;
}

.superheroes-stats-table__th,
.superheroes-stats-table__td {
  border: .2rem solid rgba(189, 195, 199, .05);
}

.superheroes-stats-table__td {
  padding: .5rem 5rem;
}

.superheroes-stats-table__td:first-child {
  color: white;
  font-weight: bold;
}

.superheroes-stats-table__tbody-tr:nth-child(even) .superheroes-stats-table__td:first-child {
  background: rgba(143, 148, 251, .1);
}

.superheroes-stats-table__td ~ .superheroes-stats-table__td {
  background: antiquewhite;
  color: midnightblue;
}

.superheroes-stats-table__td.superheroes-stats-table__td_false-100 {
  background: darkred;
}

.superheroes-stats-table__td.superheroes-stats-table__td_false-100,
.superheroes-stats-table__superheroes-link {
  color: white;
}
