html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.the-infinity-gauntlet-image {
  display: block;
  width: 20rem;
}

.the-infinity-gauntlet-image:hover {
  cursor: pointer;
}

.person-shaped-icons-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
}

.person-shaped-icons-list:not(:last-of-type) {
  margin-bottom: 0;
}

.person-shaped-icons-list ~ .person-shaped-icons-list {
  margin-top: 0;
}

.person-shaped-icons-list__person {
  width: 8rem;
}

.person-shaped-icons-list__person-image {
  transition: opacity 1s ease-in-out;
  width: 100%;
}

.the-infinity-gauntlet-image:hover ~ .person-shaped-icons-list:nth-of-type(odd) .person-shaped-icons-list__person:nth-child(odd) .person-shaped-icons-list__person-image,
.the-infinity-gauntlet-image:hover ~ .person-shaped-icons-list:nth-of-type(even) .person-shaped-icons-list__person:nth-child(even) .person-shaped-icons-list__person-image {
  opacity: 0;
}
