html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 1.6rem helvetica, sans-serif;
}

.h1 {
  margin-bottom: 0;
  margin-top: 0;
}

.h1,
.nav {
  text-align: center;
}

.h1,
.li:hover {
  background: #ed1d26;
}

.h1,
.li .li:hover,
.li-link:hover > .a {
  color: white;
}

.nav {
  display: flex;
  justify-content: center;
}

.ul {
  list-style: none;
  padding-left: 0;
}

.nav > .ul {
  width: 30rem;
}

.li {
  background: #d3d3d3;
}

.li,
.a {
  padding-bottom: 1.6rem;
  padding-top: 1.6rem;
}

.nav > .ul > .li {
  height: 5rem;
}

.li:hover {
  transition: all .2s ease-in-out;
}

.ul .ul {
  display: none;
  text-align: left;
}

.nav > .ul > .li > .ul:first-child {
  margin-top: 1.6rem;
}

.li:hover > .ul,
.a {
  display: block;
}

.li .li {
  position: relative;
}

.li .li,
.a {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ul .ul .ul {
  left: 100%;
  position: absolute;
  top: 0;
}

.ul .ul .ul,
.a {
  color: black;
}

.li.li-link {
  padding: 0;
}

.a {
  text-decoration: none;
}

.nav > .ul ~ .ul {
  margin-left: .4rem;
}
