html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 1.6rem verdana, sans-serif;
}

.superheroes-list {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.superheroes-list,
.superheroes-list__superheroes-cards-block {
  display: flex;
  flex-flow: wrap;
}

.superheroes-list__superheroes-cards-block {
  flex: 1;
  justify-content: space-around;
}

.superheroes-list__superhero-card {
  border-radius: .5rem;
  height: 16rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 5.5rem;
  padding: .5rem 1rem;
  position: relative;
  transition: margin-top 1s ease-in-out;
  width: 29rem;
}

.superheroes-list__superhero-card_captain-america-background {
  background: linear-gradient(#4568dc, #b06ab3);
}

.superheroes-list__superhero-card_iron-man-background {
  background: linear-gradient(#e52d27, #b31217);
}

.superheroes-list__superhero-card_black-widow-background {
  background: linear-gradient(to right, #000, #61045f);
}

.superheroes-list__superhero-card_spider-man-background {
  background: linear-gradient(#e52d27, #000);
}

.superheroes-list__superhero-image {
  height: 18.2rem;
  position: absolute;
}

.superheroes-list__superhero-image_bottom-0 {
  bottom: 0;
}

.superheroes-list__superhero-alias {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.superheroes-list__superhero-alias,
.superheroes-list__superhero-real-name {
  text-align: right;
}

.superheroes-list__superhero-real-name {
  color: rgba(255, 255, 255, .5);
  font-size: .9rem;
  margin-top: 0;
}
