:root {
  --color-checkbox-size: 3rem;
  --toggle-after-size: 2.7rem;
  --toggle-before-height: 3.5rem;
  --toggle-before-width: 6.5rem;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.h1 {
  color: #3e4752;
  margin-bottom: 1rem;
  text-align: center;
}

.application-settings-form {
  background: #3e4752;
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
  padding: 2.5rem 1rem;
}

.application-settings-form,
.container,
.font-weight-block,
.font-weight,
.color-picker-block,
.color-pick::before,
.side-menu {
  display: flex;
}

.container {
  background: #46525f;
  border: .1rem solid #7f7f7f;
  color: lightgrey;
  flex-wrap: wrap;
  font-family: 'source sans pro', sans-serif;
  justify-content: space-around;
  padding-bottom: 6.5rem;
  padding-top: 3rem;
  width: 90%;
}

.block-1,
.block-2 {
  width: 26rem;
}

.block {
  margin-bottom: 4rem;
}

.typeface-title {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.label:hover {
  cursor: pointer;
}

.typeface {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #313a43 url(assets/images/arrow.png) no-repeat 95%;
  background-size: 3rem;
  border: .1rem solid lightgrey;
  border-radius: .2rem;
  color: lightgrey;
  padding: 1rem;
  width: 90%;
}

.typeface:hover {
  cursor: pointer;
}

.typeface:focus {
  border: .1rem solid #0f6dde;
  box-shadow: 0 0 .3rem .1rem #0f6dde;
  outline: 0;
}

.font-weight-block {
  align-items: center;
  font-family: 'times new roman', sans-serif;
}

.font-weight {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #313a43;
  border: .1rem solid lightgrey;
  height: 1.7rem;
  justify-content: center;
  margin-left: .2rem;
  position: relative;
  width: 1.7rem;
}

.font-weight:hover {
  cursor: pointer;
}

.font-weight:focus {
  outline: 0;
}

.font-weight:checked::before {
  bottom: -.2rem;
  color: #37bca4;
  content: '✓';
  font-size: 1.5rem;
  position: absolute;
}

.font-weight-title {
  margin-left: 1.5rem;
  margin-right: .8rem;
}

.font-size {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #313a43;
  font-family: 'times new roman', sans-serif;
  height: .2rem;
  margin-left: 0;
  margin-top: 2rem;
  position: relative;
  width: 80%;
}

.font-size:hover {
  cursor: pointer;
}

.font-size:focus {
  outline: 0;
}

.font-size::-webkit-slider-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #37bca4;
  border-radius: 50%;
  height: 2.3rem;
  width: 2.3rem;
}

.font-size::-moz-range-thumb {
  background: #37bca4;
  border-radius: 50%;
  height: 2.3rem;
  width: 2.3rem;
}

.font-size::before {
  color: white;
  content: 'A';
  font-size: 1.5rem;
  position: absolute;
  top: 2.5rem;
}

.font-size::after {
  color: white;
  content: 'A';
  font-size: 2.5rem;
  position: absolute;
  right: 0;
  top: 2.5rem;
}

.block-2 {
  margin-top: 5.5rem;
}

.visuals-block {
  margin-bottom: 4.5rem;
  position: relative;
}

.checkbox {
  display: none;
}

.visuals {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.visuals::before {
  background: #313a43;
  border-radius: 1.7rem;
  content: '';
  height: var(--toggle-before-height);
  position: absolute;
  right: 0;
  top: calc(0% - (var(--toggle-before-height) - 100%) / 2);
  transition: background-color .3s;
  width: var(--toggle-before-width);
}

.visuals::after {
  background: #37bca4;
  border-radius: 50%;
  content: '';
  height: var(--toggle-after-size);
  position: absolute;
  right: calc(var(--toggle-before-width) - var(--toggle-after-size) - .4rem);
  top: calc(0% - (var(--toggle-after-size) - 100%) / 2);
  transition: right .3s;
  width: var(--toggle-after-size);
}

.checkbox:checked + .visuals::before {
  background: #2096f3;
}

.checkbox:checked + .visuals::after {
  right: .4rem;
}

.color-picker-block {
  justify-content: space-between;
  width: calc(100% - var(--color-checkbox-size));
}

.color-pick {
  position: relative;
}

.color-pick::before {
  align-items: center;
  border: .1rem solid grey;
  border-radius: 50%;
  content: '';
  justify-content: center;
  height: var(--color-checkbox-size);
  position: absolute;
  width: var(--color-checkbox-size);
}

.color-pick:first-of-type::before {
  background: #3c75be;
}

.color-pick:nth-of-type(2)::before {
  background: #37bca4;
}

.color-pick:nth-of-type(3)::before {
  background: #de56d1;
}

.color-pick:nth-of-type(4)::before {
  background: #ddd951;
}

.color-pick:nth-of-type(5)::before {
  background: #de7c57;
}

.checkbox:checked + .color-pick::before {
  color: white;
  content: '✓';
  font-style: italic;
}

.side-menu {
  align-items: center;
  align-self: center;
  background: #313a43;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  flex-direction: column;
  justify-content: space-around;
  height: 27rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  width: 10%;
}

.img {
  margin-left: 1rem;
  width: 50%;
}

.img:hover {
  cursor: pointer;
}
