html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 1.6rem source sans pro, sans-serif;
}

.superhero-request-form {
  margin-left: auto;
  max-width: 88rem;
}

.superhero-request-form,
.superhero-request-form__name {
  margin-right: auto;
}

.superhero-request-form__form-heading {
  color: #f76b87;
  margin-bottom: 4.5rem;
}

.superhero-request-form__form-title {
  font-size: 3.2rem;
  margin-bottom: 4rem;
}

.superhero-request-form__form-title,
.superhero-request-form__help-needed {
  text-align: center;
}

.superhero-request-form__form-title,
.superhero-request-form__help-needed,
.superhero-request-form__job-details,
.superhero-request-form__name,
.superhero-request-form__email {
  color: grey;
}

.superhero-request-form__form-title,
.superhero-request-form__submit-button {
  font-weight: bold;
}

.superhero-request-form__block-1,
.superhero-request-form__block-2,
.superhero-request-form__block-3 {
  flex-flow: wrap;
  justify-content: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.superhero-request-form__block-1,
.superhero-request-form__block-2,
.superhero-request-form__block-3,
.superhero-request-form__block-5 {
  display: flex;
}

.superhero-request-form__form-checkbox {
  display: none;
}

.superhero-request-form__help-needed {
  border: .1rem solid grey;
  border-radius: 3.4rem;
  margin-bottom: 2.5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 26.5rem;
}

.superhero-request-form__help-needed,
.superhero-request-form__job-details,
.superhero-request-form__name,
.superhero-request-form__email {
  font-size: 2.1rem;
}

.superhero-request-form__block-1 .superhero-request-form__help-needed {
  margin-left: 1.4rem;
  margin-right: 1.4rem;
}

.superhero-request-form__help-needed:hover,
.superhero-request-form__submit-button:hover {
  cursor: pointer;
}

.superhero-request-form__form-checkbox:checked + .superhero-request-form__help-needed {
  transition: background-color .3s, color .3s ease-in-out;
}

.superhero-request-form__form-checkbox:checked + .superhero-request-form__help-needed,
.superhero-request-form__submit-button {
  color: white;
}

.superhero-request-form__form-checkbox:checked + .superhero-request-form__help-needed,
.superhero-request-form__submit-button:hover {
  background: #1d2953;
}

.superhero-request-form__form-checkbox:checked + .superhero-request-form__help-needed::after {
  content: '✓';
  font-style: italic;
  margin-left: 1rem;
}

.superhero-request-form__block-2 .superhero-request-form__help-needed {
  margin-left: 3rem;
  margin-right: 3rem;
}

.superhero-request-form__block-4 {
  margin-top: 6rem;
}

.superhero-request-form__job-details,
.superhero-request-form__name,
.superhero-request-form__email,
.superhero-request-form__submit-button {
  outline: 0;
}

.superhero-request-form__job-details,
.superhero-request-form__name,
.superhero-request-form__email {
  border-bottom: .2rem solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  height: 4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.superhero-request-form__job-details,
.superhero-request-form__submit-button {
  width: 100%;
}

.superhero-request-form__block-5 {
  margin-top: 3.5rem;
}

.superhero-request-form__name,
.superhero-request-form__email {
  width: 47%;
}

.superhero-request-form__block-6 {
  margin-top: 4rem;
}

.superhero-request-form__submit-button {
  background: #f76b87;
  border: 0;
  font-size: 1.5rem;
  height: 6.5rem;
  transition: background-color 1s ease-in-out;
}
