html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 1.6rem 'source sans pro', sans-serif;
}

.form {
  margin-left: auto;
  max-width: 88rem;
}

.form,
.name {
  margin-right: auto;
}

.h1 {
  color: #f76b87;
}

.h2 {
  font-size: 3.2rem;
  margin-bottom: 0;
  margin-top: 4.5rem;
  text-align: center;
}

.h2,
.label {
  color: grey;
}

.h2,
.submit-button {
  font-weight: bold;
}

.block-1 {
  justify-content: center;
  margin-top: 1.5rem;
}

.block-1,
.label,
.block-2,
.block-3,
.block-5 {
  display: flex;
}

.block-1,
.block-2,
.block-3 {
  flex-wrap: wrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.checkbox {
  display: none;
}

.label {
  align-items: center;
  border: .1rem solid grey;
  border-radius: 3.2rem;
  margin-top: 2.5rem;
  width: 26.5rem;
}

.label,
.block-2,
.block-3 {
  justify-content: center;
}

.label,
.job-details,
.name,
.email {
  font-size: 2.1rem;
}

.label,
.submit-button {
  height: 6.5rem;
}

.block-1 .label {
  margin-left: 1.4rem;
  margin-right: 1.4rem;
}

.label:hover,
.submit-button:hover {
  cursor: pointer;
}

.checkbox:checked + .label {
  transition: background-color .3s, color .3s ease-in-out;
}

.checkbox:checked + .label,
.submit-button {
  color: white;
}

.checkbox:checked + .label,
.submit-button:hover {
  background: #1d2953;
}

.checkbox:checked + .label::after {
  content: '✓';
  font-style: italic;
  margin-left: 1rem;
}

.block-2 .label {
  margin-left: 3rem;
  margin-right: 3rem;
}

.block-4 {
  margin-top: 6rem;
}

.job-details,
.name,
.email,
.submit-button {
  outline: 0;
}

.job-details,
.name,
.email {
  border-bottom: .2rem solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: grey;
  height: 4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.job-details,
.submit-button {
  width: 100%;
}

.block-5 {
  margin-top: 3.5rem;
}

.name,
.email {
  width: 47%;
}

.block-6 {
  margin-top: 4rem;
}

.submit-button {
  background: #f76b87;
  border: 0;
  font-size: 1.5rem;
  transition: background-color 1s ease-in-out;
}
