html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
}

.li {
  height: 16.5rem;
  position: relative;
  text-align: center;
  width: 12rem;
}

.li::before {
  background: green;
  color: white;
  font: 700 1.5em lato, sans-serif;
  left: 0;
  position: absolute;
  width: 100%;
}

.li::after {
  bottom: 0;
  font: 400 2em lato, sans-serif;
  left: 0;
  position: absolute;
  width: 100%;
}

.li:first-child {
  background: url(assets/images/sun.png) no-repeat center;
  background-size: 8.5rem;
}

.li:first-child::before {
  content: '01.09';
}

.li:first-child::after {
  content: '+25°';
}

.li:nth-child(2) {
  background: url(assets/images/sun-cloud.png) no-repeat center;
  background-size: 8.5rem;
}

.li:nth-child(2)::before {
  content: '02.09';
}

.li:nth-child(2)::after {
  content: '+23°';
}

.li:nth-child(3) {
  background: url(assets/images/two-clouds.png) no-repeat center;
  background-size: 8.5rem;
}

.li:nth-child(3)::before {
  content: '03.09';
}

.li:nth-child(3)::after {
  content: '+20°';
}

.li:nth-child(4) {
  background: url(assets/images/co2.png) no-repeat center;
  background-size: 8.5rem;
}

.li:nth-child(4)::before {
  content: '04.09';
}

.li:nth-child(4)::after {
  content: '+18°';
}

.li:nth-child(5) {
  background: url(assets/images/rain.png) no-repeat center;
  background-size: 8.5rem;
}

.li:nth-child(5)::before {
  content: '05.09';
}

.li:nth-child(5)::after {
  content: '+15°';
}

.li:nth-child(6) {
  background: url(assets/images/lighting.png) no-repeat center;
  background-size: 8.5rem;
}

.li:nth-child(6)::before {
  content: '06.09';
}

.li:nth-child(6)::after {
  content: '+10°';
}

.li:nth-child(7) {
  background: url(assets/images/snow.png) no-repeat center;
  background-size: 8.5rem;
}

.li:nth-child(7)::before {
  content: '07.09';
}

.li:nth-child(7)::after {
  content: '+5°';
}
