html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5rem;
  transition: margin-top 1s, transform 1s ease-in-out;
}

.image:hover {
  transform: rotate(-30deg);
}
