html {
  font-size: 10px;
}

body {
  font: 1.6rem arial, sans-serif;
}

h1 {
  background: red;
  height: 7.9rem;
  overflow-y: hidden;
  padding-top: 7rem;
  text-align: center;
}

span {
  color: white;
  display: inline-block;
  font-size: 4em;
  line-height: 0;
  vertical-align: bottom;
}
