html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.infinity-stones-table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.infinity-stones-table__thead-tr {
  background: black;
  color: white;
}

.infinity-stones-table__tbody-tr:first-child {
  background: #d6933e;
}

.infinity-stones-table__tbody-tr:nth-child(2) {
  background: #038001;
}

.infinity-stones-table__tbody-tr:nth-child(3) {
  background: #015792;
}

.infinity-stones-table__tbody-tr:nth-child(4) {
  background: #ffff03;
}

.infinity-stones-table__tbody-tr:nth-child(5) {
  background: #c12b2f;
}

.infinity-stones-table__tbody-tr:nth-child(6) {
  background: #8075b7;
}

.infinity-stones-table__td {
  border: .2rem solid #ddd;
  padding: 1rem;
}

.infinity-stones-table__infinity-stone-image {
  border-radius: 2rem;
  height: 12rem;
  width: 12rem;
}
