html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
}

.table {
  border-collapse: collapse;
}

.thead .tr {
  background-color: black;
  color: white;
}

.tbody .tr:nth-child(1) {
  background-color: orange;
}

.tbody .tr:nth-child(2) {
  background-color: green;
}

.tbody .tr:nth-child(3) {
  background-color: blue;
}

.tbody .tr:nth-child(4) {
  background-color: yellow;
}

.tbody .tr:nth-child(5) {
  background-color: red;
}

.tbody .tr:nth-child(6) {
  background-color: purple;
}

.td {
  border: 0.2rem solid whitesmoke;
  padding: 1rem;
  text-align: center;
}

.img {
  border-radius: 2rem;
  height: 12rem;
  width: 12rem;
}
