html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
}

.h1,
.h2 {
  text-align: center;
}

.h1,
.h2,
.block_description,
.block_view-example-div {
  font-size: 1.3rem;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}

.block {
  border: .1rem solid #ddd;
  padding: .8rem;
  width: 22rem;
}

.block:nth-child(4) ~ .block {
  margin-top: 1.2rem;
}

.block_description {
  margin-top: 0;
}

.block_description,
.block_view-example-div,
.block_view-example-title {
  margin-bottom: 0;
}

.block_code-example {
  font-size: 1rem;
}

.block_view-example-div {
  border: .1rem solid grey;
  color: blue;
}

.block_view-example-title {
  font-size: 2.7rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 1024px) {

  html {
    font-size: 1.3vw;
  }

  .block {
    width: 36.5rem;
  }

  .block:nth-child(3),
  .block:nth-child(4) {
    margin-top: 1.2rem;
  }

}

@media only screen and (max-width: 768px) {

  html {
    font-size: 2.8vw;
  }

  .block {
    width: 100%;
  }

  .block:nth-child(2) {
    margin-top: 1.2rem;
  }

}
